# Ignore frontend and old directories
../frontend/node_modules
../frontend-old/node_modules

../frontend/coverage
../frontend-old/coverage

../frontend/build
../frontend-old/build

# Ignore unnecessary files and directories in backend
node_modules
coverage
build

# General ignores
.git
*.md
.DS_Store
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
